section {
  direction: rtl;
  .input-group {
    .input-group-text {
      background-color: #007bff;
      color: #fff;
      border-radius: 5px 0 0 5px;
      margin-right: -1px;
    }
    input {
      border-radius: 0 5px 5px 0;
    }
  }
  .border-reduce {
    border-radius: 5px;
    border: 1px solid #000;
    padding: 10px;
  }
  .outof-rtl {
    direction: ltr;
  }
}
