<section>
    <div class="container-fluid">
        <div class="row">
            <div class="home">
                <div class="col-sm-4">
                    <div class="image">
                        <img src="../../../assets/img/emp/houseoflaw.png" alt="">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="content">
                        <h3>House Of law</h3>
                        <span class="span-s">House Of law Company to collect the money of others in a friendly
                            manner</span>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat, deleniti soluta. Alias
                            nisi
                            eveniet
                            tempora magni, quisquam totam iusto molestiae voluptates. Neque deleniti veniam at iusto
                            iste!
                            Dignissimos,
                            qui a.</p>
                        <a [routerLink]="[ '/aboutus']" class="btn">about us<span class="span-i"><i
                                    class="fas fa-user"></i></span></a>
                        <a [routerLink]="[ '/login']" class="btn ml-2">Get Started<span class="span-i"><i
                                    class="fas fa-sign-in-alt"></i></span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <app-aboutus></app-aboutus>
            </div>
        </div>
    </div>
    <div class="container partners">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="heading"><span>Our</span> partners</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="box">
                    <img src="../../../assets/img/company/Stc.png" alt="">
                    <h3>STC</h3>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="box">
                    <img src="../../../assets/img/company/ooredoo.png" alt="">
                    <h3>Ooredoo</h3>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="box">
                    <img src="../../../assets/img/company/zain.jpg" alt="">
                    <h3>Zain</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="box">
                    <img src="../../../assets/img/company/markz.png" alt="">
                    <h3>المركز المالى الكويتى</h3>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="box">
                    <img src="../../../assets/img/company/wafra.jpg" alt="">
                    <h3>وفرة العقارية</h3>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="box">
                    <img src="../../../assets/img/company/reem.png" alt="">
                    <h3>شركة ريم العقارية</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="box">
                    <img src="../../../assets/img/company/ksr.png" alt="">
                    <h3>الهيئة العامة لشؤن القصر</h3>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="box">
                    <img src="../../../assets/img/company/ufm.jpg" alt="">
                    <h3>الشركة المتحدة لادارة المرافق</h3>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="box">
                    <img src="../../../assets/img/company/taamen.jpg" alt="">
                    <h3>الهيئة العامة للتامينات</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="box">
                    <img src="../../../assets/img/company/kfh.png" alt="">
                    <h3>بيت التمويل الكويتى</h3>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="box">
                    <img src="../../../assets/img/company/sayrer.png" alt="">
                    <h3>تسهيلات الساير</h3>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="box">
                    <img src="../../../assets/img/company/aean.jpg" alt="">
                    <h3>شركة اعيان للاجارة والاستثمار</h3>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="box">
                    <img src="../../../assets/img/company/kib.jpg" alt="">
                    <h3>بنك الكويت الدولى</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="box">
                    <img src="../../../assets/img/company/yaco.png" alt="">
                    <h3>شركة ياكو الطبية</h3>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="box">
                    <img src="../../../assets/img/company/wara.jpg" alt="">
                    <h3>شركة مستشفى وارة</h3>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="box">
                    <img src="../../../assets/img/company/salam.png" alt="">
                    <h3>شركة مستشفى السلام الدولى</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="box">
                    <img src="../../../assets/img/company/wethaq.png" alt="">
                    <h3>شركة وثاق للتأمين التكافلى </h3>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="box">
                    <img src="../../../assets/img/company/ryan.jpg" alt="">
                    <h3>مدارس الريان</h3>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="box">
                    <img src="../../../assets/img/company/gig.jpg" alt="">
                    <h3>مجموعة الخليج للتأمين</h3>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================ -->
    <div class="container-fluid light achievements">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="heading"><span>Our</span> Achievements</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="box-achievment">
                    <i class="fas fa-running"></i>
                    <span>2009 - 2010</span>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique mollitia quam, distinctio
                        exquod repellendus aliquid nesciunt. Natus nisi sed consequuntur architecto quam tempore
                        quaerat optio molestias. Sit, minus minima.
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique mollitia quam, distinctio
                        exquod repellendus aliquid nesciunt. Natus nisi sed consequuntur architecto quam tempore
                        quaerat optio molestias. Sit, minus minima.</p>
                </div>
                <div class="box-achievment">
                    <i class="fas fa-running"></i>
                    <span>2009 - 2010</span>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique mollitia quam, distinctio
                        exquod repellendus aliquid nesciunt. Natus nisi sed consequuntur architecto quam tempore
                        quaerat optio molestias. Sit, minus minima.
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique mollitia quam, distinctio
                        exquod repellendus aliquid nesciunt. Natus nisi sed consequuntur architecto quam tempore
                        quaerat optio molestias. Sit, minus minima.</p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="box-achievment">
                    <i class="fas fa-running"></i>
                    <span>2009 - 2010</span>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique mollitia quam, distinctio
                        exquod repellendus aliquid nesciunt. Natus nisi sed consequuntur architecto quam tempore
                        quaerat optio molestias. Sit, minus minima.
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique mollitia quam, distinctio
                        exquod repellendus aliquid nesciunt. Natus nisi sed consequuntur architecto quam tempore
                        quaerat optio molestias. Sit, minus minima.</p>
                </div>
                <div class="box-achievment">
                    <i class="fas fa-running"></i>
                    <span>2009 - 2010</span>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique mollitia quam, distinctio
                        exquod repellendus aliquid nesciunt. Natus nisi sed consequuntur architecto quam tempore
                        quaerat optio molestias. Sit, minus minima.
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique mollitia quam, distinctio
                        exquod repellendus aliquid nesciunt. Natus nisi sed consequuntur architecto quam tempore
                        quaerat optio molestias. Sit, minus minima.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- ======================================================== -->
    <div class="container pictures">
        <div class="row">
            <div class="col-sm-12">
                <div class="box-pic">
                    <h1 class="heading"><span>Our</span> Pictures</h1>
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-sm-3">
                <div class="box-pic mb-1">
                    <img src="../../../assets/img/emp/fawaz.png" alt="">
                    <div class="content">
                        <h3>Mr. Fawaz El-mekhled</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut nisi inventore enim minima
                            maxime quis, amet ex nemo voluptatum alias laudantium quam ad quas earum, eos quaerat
                            cum aliquid dolor!</p>
                        <a>read more</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="box-pic mb-1">
                    <img src="../../../assets/img/emp/mr.png" alt="">
                    <div class="content">
                        <h3>Mr. Mohammed Ayoub</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut nisi inventore enim minima
                            maxime quis, amet ex nemo voluptatum alias laudantium quam ad quas earum, eos quaerat
                            cum aliquid dolor!</p>
                        <a>read more</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="box-pic mb-1">
                    <img src="../../../assets/img/emp/fawaz.png" alt="">
                    <div class="content">
                        <h3>Mr. Fawaz El-mekhled</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut nisi inventore enim minima
                            maxime quis, amet ex nemo voluptatum alias laudantium quam ad quas earum, eos quaerat
                            cum aliquid dolor!</p>
                        <a>read more</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="box-pic mb-1">
                    <img src="../../../assets/img/emp/fawaz.png" alt="">
                    <div class="content">
                        <h3>Mr. Fawaz El-mekhled</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut nisi inventore enim minima
                            maxime quis, amet ex nemo voluptatum alias laudantium quam ad quas earum, eos quaerat
                            cum aliquid dolor!</p>
                        <a>read more</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-sm-3">
                <div class="box-pic mb-1">
                    <img src="../../../assets/img/emp/fawaz.png" alt="">
                    <div class="content">
                        <h3>Mr. Fawaz El-mekhled</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut nisi inventore enim minima
                            maxime quis, amet ex nemo voluptatum alias laudantium quam ad quas earum, eos quaerat
                            cum aliquid dolor!</p>
                        <a>read more</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="box-pic mb-1">
                    <img src="../../../assets/img/emp/fawaz.png" alt="">
                    <div class="content">
                        <h3>Mr. Fawaz El-mekhled</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut nisi inventore enim minima
                            maxime quis, amet ex nemo voluptatum alias laudantium quam ad quas earum, eos quaerat
                            cum aliquid dolor!</p>
                        <a>read more</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="box-pic mb-1">
                    <img src="../../../assets/img/emp/fawaz.png" alt="">
                    <div class="content">
                        <h3>Mr. Fawaz El-mekhled</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut nisi inventore enim minima
                            maxime quis, amet ex nemo voluptatum alias laudantium quam ad quas earum, eos quaerat
                            cum aliquid dolor!</p>
                        <a>read more</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="box-pic mb-1">
                    <img src="../../../assets/img/emp/fawaz.png" alt="">
                    <div class="content">
                        <h3>Mr. Fawaz El-mekhled</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut nisi inventore enim minima
                            maxime quis, amet ex nemo voluptatum alias laudantium quam ad quas earum, eos quaerat
                            cum aliquid dolor!</p>
                        <a>read more</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-sm-3">
                <div class="box-pic mb-1">
                    <img src="../../../assets/img/emp/fawaz.png" alt="">
                    <div class="content">
                        <h3>Mr. Fawaz El-mekhled</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut nisi inventore enim minima
                            maxime quis, amet ex nemo voluptatum alias laudantium quam ad quas earum, eos quaerat
                            cum aliquid dolor!</p>
                        <a>read more</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="box-pic mb-1">
                    <img src="../../../assets/img/emp/fawaz.png" alt="">
                    <div class="content">
                        <h3>Mr. Fawaz El-mekhled</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut nisi inventore enim minima
                            maxime quis, amet ex nemo voluptatum alias laudantium quam ad quas earum, eos quaerat
                            cum aliquid dolor!</p>
                        <a>read more</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="box-pic mb-1">
                    <img src="../../../assets/img/emp/fawaz.png" alt="">
                    <div class="content">
                        <h3>Mr. Fawaz El-mekhled</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut nisi inventore enim minima
                            maxime quis, amet ex nemo voluptatum alias laudantium quam ad quas earum, eos quaerat
                            cum aliquid dolor!</p>
                        <a>read more</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="box-pic mb-1">
                    <img src="../../../assets/img/emp/fawaz.png" alt="">
                    <div class="content">
                        <h3>Mr. Fawaz El-mekhled</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut nisi inventore enim minima
                            maxime quis, amet ex nemo voluptatum alias laudantium quam ad quas earum, eos quaerat
                            cum aliquid dolor!</p>
                        <a>read more</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center">
                <button class="btn">read more<span class="span-i"><i class="fas fa-redo"></i></span></button>
            </div>
        </div>
    </div>
    <!-- ================================================ -->
    <div class="container-fluid light">
        <div class="row">
            <div class="col-sm-12">
                <div class="container blogs">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="box-pic">
                                <h1 class="heading"><span></span>Blogs</h1>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="box">
                                <div class="image">
                                    <img src="../../../assets/img/blog.png" alt="">
                                </div>
                                <div class="content">
                                    <div class="icon">
                                        <a><i class="fas fa-calendar-week"></i>08st jun, 2022</a>
                                        <a><i class="fas fa-user"></i>by admin</a>
                                    </div>
                                    <h3>Blog Title here.</h3>
                                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam aliquid odio
                                        porro dicta officia iusto accusamus repudiandae possimus ipsum natus eligendi,
                                        quibusdam velit doloribus et atque voluptate corporis illo adipisci?</p>
                                    <button class="btn">read more<span class="span-i"><i
                                                class="fas fa-link"></i></span></button>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="box">
                                <div class="image">
                                    <img src="../../../assets/img/blog.png" alt="">
                                </div>
                                <div class="content">
                                    <div class="icon">
                                        <a><i class="fas fa-calendar-week"></i>08st jun, 2022</a>
                                        <a><i class="fas fa-user"></i>by admin</a>
                                    </div>
                                    <h3>Blog Title here.</h3>
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius fugiat aliquid
                                        fuga nemo? Sunt eius adipisci, tempore optio maxime illo sequi assumenda vero
                                        quidem molestiae possimus quasi repellendus aut nisi.</p>
                                    <button class="btn">read more<span class="span-i"><i
                                                class="fas fa-link"></i></span></button>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="box">
                                <div class="image">
                                    <img src="../../../assets/img/blog.png" alt="">
                                </div>
                                <div class="content">
                                    <div class="icon">
                                        <a><i class="fas fa-calendar-week"></i>08st jun, 2022</a>
                                        <a><i class="fas fa-user"></i>by admin</a>
                                    </div>
                                    <h3>Blog Title here.</h3>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus nemo tempora
                                        corrupti
                                        dolorem eum. Fugit nulla ipsum quae qui laudantium blanditiis minus veritatis,
                                        nam
                                        accusantium deserunt, debitis unde voluptas itaque.</p>
                                    <button class="btn">read more<span class="span-i"><i
                                                class="fas fa-link"></i></span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ========================================================================================== -->
    <div class="container contact">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="heading"><span>Contact</span> us</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <h1>Git in touch.</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet possimus laudantium corporis optio
                    fugit, a recusandae ad ab consectetur, atque accusantium tempora in. Necessitatibus voluptatum sunt
                    enim laudantium officiis placeat.</p>
                <div class="box">
                    <i class="fas fa-map"></i>
                    <div class="info">
                        <h3>Address: </h3>
                        <p>Kuwait, Sharq, Ahmed El-jaber st. Wafra Building, 3rd Floor.</p>
                    </div>
                </div>
                <div class="box">
                    <i class="fas fa-envelope"></i>
                    <div class="info">
                        <h3>email: </h3>
                        <p>info@houseoflaw.com.kw</p>
                    </div>
                </div>
                <div class="box">
                    <i class="fas fa-phone"></i>
                    <div class="info">
                        <h3>Phone Number:</h3>
                        <p class="phone">1818180</p>
                    </div>
                </div>
                <div class="share mt-5">
                    <a class="fab fa-facebook-f"></a>
                    <a class="fab fa-twitter"></a>
                    <a class="fab fa-instagram"></a>
                    <a class="fab fa-linkedin-in"></a>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="row mt-3">
                    <div class="col-sm-6">
                        <div class="inputbox mb-2 ">
                            <input type="text" class="form-control" placeholder="Name">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="inputbox mb-2 ">
                            <input type="text" class="form-control" placeholder="Phone Number">
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <div class="inputbox mb-2 ">
                            <input type="text" class="form-control" placeholder="email">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="inputbox mb-2 ">
                            <input type="text" class="form-control" placeholder="Sublect">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="inputbox">
                            <textarea class="form-control" placeholder="Message"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-sm-12">
                        <button class="btn btn-send">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>