<form class="login" [formGroup]="forgetForm" (ngSubmit)="requestPassword()" #FormLogin="ngForm">
  <p class="text-center text-primary">House Of law <span>|</span> Reset Password.</p>
  <hr />
  <input class="form-control input-lg" required="required" type="text" name="email" placeholder="E-Mail address"
    formControlName="email" pattern="^\w+@[a-zA-Z_]+?/.[a-zA-Z]{2,3}$" />
  <div *ngIf="this.forgetForm.get('email').invalid">
    <div class="text-danger" *ngIf="this.forgetForm.get('email').errors.required && forgetForm.get('email').touched">
      {{ msgValidate.email.required}}</div>
    <div class="text-danger" *ngIf="this.forgetForm.get('email').errors.pattern && forgetForm.get('email').touched">
      {{ msgValidate.email.pattern}}</div>
  </div>
  <input class="btn input-lg btn-primary btn-block" [disabled]="!forgetForm.valid" type="submit" value="Send E-Mail" />
</form>